<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="css/styl.css">
    <title>Document</title>
</head>
<body>
    <div class ="yay">

   <form method="post" action="/searchArtist">
            <h3>Spotify Search</h3>
                    Search Artist:<br>
        <input type="text" name="searchArtist"><br>
        <button type="submit">Submit</button>
</form>
    </div>

</body> 
</html>